# Secret Key for Flask(You can decide on your own)
SECRET_KEY=your_secret_key

# OpenAI API Key
OPENAI_API_KEY=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

# Pexels API Key
PEXELS_API_KEY=VK5t7upQ9FUHXd0mJ0Bl3GHtABiljXjzNFvSTxm5jU7GGF5jDx4crZwB
